version: "3.8"

services:
  app:
    container_name: admin-app
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    command: sh -c "python manage.py migrate && python manage.py makemigrations && python manage.py migrate --fake && python manage.py create_superuser && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    volumes:
      - ./movies_admin:/app
    environment:
      - DB_NAME=movies
      - DB_USER=postgres
      - DB_PASSWORD=passwd
      - DB_HOST=db
      - DB_PORT=5432
      - SECRET_KEY=ultrasupersecretkey
      - ALLOWED_HOSTS=["*"]

  etl:
    container_name: etl
    build:
      context: .
      dockerfile: sqlite_to_postgres/Dockerfile
    depends_on:
      - db
    command: sh -c "python main.py"
    volumes:
      - ./sqlite_to_postgres:/app

  db:
    image: postgres:13
    container_name: postgres
    environment:
      - POSTGRES_PASSWORD=passwd
    ports:
      - "8432:5432"
    volumes:
      - ./schema_design/init.sql:/docker-entrypoint-initdb.d/init.sql
